.gradient-border-container {
  padding: 2px; 
  border-radius: 8px; 
  background: transparent; 
}

.gradient-border-wrapper {
  border-radius: 8px; 
  padding: 4px; 
  background: linear-gradient(90deg, #ec3c85, #1dd9e9, #ae7365, #fcce80, #032639);
  background-size: 600% 600%;
  animation: gradient-flow 10s ease infinite;
}

.gradient-border-content {
  background-color: #1a1a1a; 
  border-radius: 8px; 
  padding: 20px; 
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  
.fade-out-active {
    opacity: 0;
}

.transition-all {
    transition: all 0.5s ease-in-out;
  }
  
 
  .max-h-0 {
    max-height: 0;
    overflow: hidden;
  }
  

  .max-h-200 {
    max-height: 200px; 
    overflow: hidden;
  }
  
 
  .opacity-100 {
    opacity: 1;
  }
  
  /* Fades out when description is closed */
  .opacity-0 {
    opacity: 0;
  }
  