.speakers-section {
    position: relative;
    margin: 0 auto 3rem;
    width: 100%;
}

.speakers-container {
    position: relative;
    padding: 4px;
    border-radius: 8px;
    background: linear-gradient(90deg, #ec3c85, #1dd9e9, #ae7365, #fcce80, #032639);
    background-size: 600% 600%;
    animation: gradient-flow 10s ease infinite;
    box-sizing: border-box;
}

.speakers-wrapper {
    border-radius: 8px;
    background: #131314;
    padding: 24px;
    position: relative;
    box-sizing: border-box;
}

.gradient-border-content {
    background-color: #131314;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.min-h-48 {
    min-height: 48px;
}

.shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.shape {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
    animation: rotateDiamond 10s linear infinite;
}

.shape1 {
    top: 10%;
    left: 10%;
    width: 200px;
    height: 200px;
    background: rgba(255, 0, 255, 0.3);
}

.shape2 {
    bottom: 10%;
    right: 10%;
    width: 250px;
    height: 250px;
    background: rgba(0, 255, 255, 0.3);
}

@keyframes rotateDiamond {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.shimmer {
    position: relative;
    overflow: hidden;
    color: transparent;
    background: linear-gradient(45deg, #5a0d55, #0d5a5b, #131314);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    width: 72px;
    height: 72px;
    border-radius: 8px;
}

.shimmer-text {
    color: white;
    text-align: center;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.grow {
    animation: grow 0.2s ease-out forwards;
}