/* Navbar.module.css */
.navbar {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;

    @apply lg:px-16;

    /* Responsive styles for screens smaller than 640px (sm breakpoint) */
    @media screen and (max-width: 640px) {
        padding: 1rem;
    }
}

.nav-link {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'montserrat';

    /* Responsive styles for screens smaller than 640px (sm breakpoint) */
    @media screen and (max-width: 640px) {
        font-size: 1.5rem;
    }
}